/* 
    Created on : 14-Oct-2017, 06:07:00
    Author     : imaleo
*/
.breadcrumb {
    display: inline-block;
    background: none;
    margin: 8px 0 19px 0;
    padding: 0 10px;
    border-radius: 0;
}

#button-menu {
	line-height: 30px;
	font-size: 24px;	
	float: left;
	padding: 10px 16px;
	line-height: 25px;
	display: inline-block;
	cursor: pointer;
	color: #6D6D6D;
	border-right: 1px solid #eee;	
}

.container-fluid {
    padding: 0 20px;
}

.error-message {
    color: red;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid{
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 9, 9, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(242, 9, 9, .6);
    border-color:red;
}

.panel-heading h3 {
    font-weight: 500;
    display: inline-block;
}

.panel-heading .form-control{
    padding: 0px;
    height: auto;
}
.page-header{
    vertical-align: middle;
    margin: 20px 0 15px 0;
    padding: 0;
    border-bottom: 1px solid #e9e9e9;
}

.page-header h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 30px;
    color: #4c4d5a;
    display: inline-block;
    margin-bottom: 15px;
    text-shadow: 0 1px #fff;
}
