                </div>
            </div>
        </div>

        <script src="/lib/jquery-2.1.1.min.js"></script>
        
        <script src="/lib/angular/angular.min.js"></script>
        <script src="/lib/angular/angular-route.min.js"></script>
        <script src="/lib/angular/angular-cookies.min.js"></script>
        <script src="/lib/angular/angular-messages.min.js"></script>
        
        <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
        <script src="/lib/docs.min.js"></script>
        
        <script src="/js/app.js"></script>
        <script src="/js/common.js"></script>
        
        <script src="/modules/student/student.js"></script>
        <script src="/modules/student/student.js"></script>
        <script src="/modules/student/js/controllers.js"></script>
        <script src="/modules/student/js/services.js"></script>
    </body>
</html>